<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hjc.module_other">

    <!--    单独module    -->

    <application
        android:name=".OtherApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/other_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/BaseAppTheme">

        <activity android:name=".ui.OtherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.dialog.DialogActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.login.LoginActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.audio.AudioActivity"
            android:screenOrientation="portrait" />


        <activity
            android:name=".ui.scroll.ScrollActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.scroll.ScrollToppingActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.scroll.ScrollIndicatorActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.video.RichMediaActivity"
            android:screenOrientation="landscape"
            android:theme="@style/RichMediaTheme" />

    </application>

</manifest>