<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hjc.module_home">

    <application>

        <activity
            android:name=".ui.HomeActivity"
            android:screenOrientation="portrait" />


        <activity
            android:name=".ui.jetpack.JetpackActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.jetpack.child.JetDataActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.jetpack.child.JetLiveActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.jetpack.child.JetAdapterActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.jetpack.child.JetPagingActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.coroutines.CoroutinesActivity"
            android:screenOrientation="portrait" />


        <activity
            android:name=".ui.compose.ComposeTestActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>