<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hjc.module_frame">

    <application>

        <activity
            android:name=".ui.FrameActivity"
            android:screenOrientation="portrait" />


        <activity
            android:name=".ui.status.StatusActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.status.StatusCustomActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.status.StatusDefaultActivity"
            android:screenOrientation="portrait" />


        <activity
            android:name=".ui.eventbus.EventPostActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.eventbus.EventReceiveActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.zxing.QRCodeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.zxing.ScanCodeActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>