<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hjc.base">

    <!--网络-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!--存储-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!--位置-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <!--相机-->
    <uses-permission android:name="android.permission.CAMERA" />

    <!--通讯录-->
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!--安装应用-->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <!--手机状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />


    <application
        android:name=".application.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:maxAspectRatio="2.4"
        android:networkSecurityConfig="@xml/network_security_config"
        android:resizeableActivity="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,UnusedAttribute">

        <!--适配通用刘海屏-->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" />

        <!--适配华为刘海屏-->
        <meta-data
            android:name="android.notch_support"
            android:value="true" />

        <!--适配小米刘海屏-->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />


        <activity
            android:name=".ui.splash.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.web.WebActivity"
            android:screenOrientation="portrait" />


        <!--=====================================================首页===========================================-->
        <activity
            android:name=".ui.home.activity.AdapterActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.home.activity.DataActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.home.activity.LiveActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.other.activity.LoginActivity"
            android:screenOrientation="portrait" />


        <!--=====================================================框架===========================================-->
        <activity
            android:name=".ui.home.activity.RoomActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.home.activity.PageActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.frame.activity.LoadSirActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.frame.activity.eventbus.EventPostActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.frame.activity.eventbus.EventReceiveActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.frame.activity.zxing.QRCodeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.frame.activity.zxing.ScanCodeActivity"
            android:screenOrientation="portrait" />


        <!--=====================================================高级===========================================-->
        <activity
            android:name=".ui.senior.activity.touch.TouchActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.senior.activity.touch.TouchDefaultActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.senior.activity.touch.TouchCancelActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.senior.activity.touch.TouchInterceptActivity"
            android:screenOrientation="portrait" />


        <activity
            android:name=".ui.senior.activity.view.ViewActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.senior.activity.view.ViewBaseActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.senior.activity.view.ViewCanvasActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.senior.activity.view.ViewPictureActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.senior.activity.view.ViewPathActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.senior.activity.view.ViewRadarActivity"
            android:screenOrientation="portrait" />


        <!--=====================================================其他===========================================-->


        <!--============================================更新服务=========================================-->
        <service android:name=".utils.download.DownloadService" />

        <!--============================================文件访问权限=========================================-->
        <provider
            android:name=".utils.MyFileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>