<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hjc.base">

    <!--网络-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!--存储-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!--通讯录-->
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!--手机状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />

    <!--安装应用-->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <!--位置-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <!--相机-->
    <uses-permission android:name="android.permission.CAMERA" />

    <!--录音-->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <application
        android:name=".application.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="portrait" />


        <activity android:name=".ui.login.LoginActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.search.SearchActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.list.ListEmptyActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.list.ListRefreshActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.keyboard.KeyboardActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.drawer.DrawerNavigationActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.drawer.DrawerCustomActivity"
            android:screenOrientation="portrait" />

        <!--              ==================更新相关=================              -->
        <service android:name=".ui.update.download.DownloadService" />

        <receiver
            android:name=".ui.update.download.InstallBroadCastReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!--7.0文件访问权限-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>