<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hjc.module_login">

    <application>

        <activity
            android:name=".ui.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme" />

    </application>

</manifest>