<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hjc.module_other">

    <application>

        <activity
            android:name=".ui.OtherActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.dialog.DialogActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.login.LoginActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.audio.AudioActivity"
            android:screenOrientation="portrait" />


        <activity
            android:name=".ui.scroll.ScrollActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.scroll.ScrollToppingActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.scroll.ScrollIndicatorActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.video.RichMediaActivity"
            android:screenOrientation="landscape"
            android:theme="@style/RichMediaTheme"/>

    </application>

</manifest>